<nav class="navbar">

    <div><a href="index.html"><img class="logo" src="assets/images/logo.png" alt="Logo"></a></div>

    <ul class="nav-menu">

        <li class="nav-item">
            <a href="index.html" class="nav-link">HOME</a>
        </li>

        <li class="nav-item">
            <a href="meet.html" class="nav-link">MEET YOUR COACH</a>
        </li>

        <li class="nav-item has-submenu">
            <a href="#" class="nav-link toggle-submenu">COACHING</a>
            <!-- Submenu starts here -->
            <ul class="submenu">
                <li class="nav-item">
                    <a href="abroad.html" class="nav-link">THRIVING ABROAD</a>
                </li>
                <li class="nav-item">
                    <a href="career.html" class="nav-link">BRAND ME UP</a>
                </li>
                <li class="nav-item">
                    <a href="coach.html" class="nav-link">CAREER COACHING</a>
                </li>
            </ul>
            <!-- Submenu ends here -->
        </li>                            

        <!-- <li class="nav-item">
            <a href="{{ site.baseurl }}/blog.html" class="nav-link">BLOG</a>
        </li> -->

        <li class="nav-item">
            <a href="contact.html" class="nav-link">CONTACT</a>
        </li>

    </ul>

    <div class="hamburger">
        <span class="bar"></span>
        <span class="bar"></span>
        <span class="bar"></span>
    </div>

</nav>