:root {
    --primary-color: #ad814b;
    /* Un color que usarás ampliamente en tu diseño */
    --background-color: #ffffff;
    /* El color de fondo por defecto */
    --accent-color: #ff2c2c;
    /* Un color para elementos que quieres destacar */
    --background-color2: #ad814b44;
}

* {
    margin: 0;
    padding: 0;
    font-family: 'montserrat', Arial, Helvetica, sans-serif;
    box-sizing: border-box;
}

a {
    text-decoration: none;
    color: var(--background-color)
}

//*----NAV BAR MENU----*/

header {
    background-color: var(--background-color);
}

li {
    list-style: none;
}

a {
    color: black;
    text-decoration: none;
}

.logo {
    width: 300px;
    padding: 12px 0 5px 0;
}

.navbar {
    min-height: 70px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px;
}

.nav-menu {
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 60px;
}

.nav-branding {
    font-size: 2rem;
}

.nav-link {
    transition: 0.7s ease;
}

.nav-link:hover {
    color: var(--accent-color);
}

.hamburger {
    display: none;
    cursor: pointer;
}

.bar {
    display: block;
    width: 25px;
    height: 3px;
    margin: 5px auto;
    -webkit-transition: all 0.3s ease-in-out;
    transition: all 0.3s ease-in-out;
    background-color: black;
}

.submenu {
    display: none;
    position: absolute;
    background-color: var(--background-color);
    box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
    z-index: 1;
}

.nav-item:hover .submenu {
    display: block;
}

.submenu .nav-item {
    min-width: 160px;
    text-align: left;
}

.submenu .nav-item a {
    padding: 12px 16px;
    display: block;
}

.has-submenu .submenu-toggle {
    display: none;
    /* Hide toggle button on desktop */
}

@media (max-width: 968px) {
    .hamburger {
        display: block;
    }

    .hamburger.active .bar:nth-child(2) {
        opacity: 0;
    }

    .hamburger.active .bar:nth-child(1) {
        transform: translateY(8px) rotate(45deg);
    }

    .hamburger.active .bar:nth-child(3) {
        transform: translateY(-8px) rotate(-45deg);
    }

    .nav-menu {
        position: fixed;
        left: -100%;
        top: 0;
        /* Cambiado a 0 para fijar al inicio de la página */
        height: 100vh;
        overflow-y: auto;
        gap: 0;
        flex-direction: column;
        background-color: var(--background-color);
        width: 100%;
        text-align: center;
        transition: 0.3s;
        z-index: 10;
    }

    .nav-item {
        margin: 16px 0;
    }

    .nav-menu.active {
        left: 0;
    }

    .has-submenu .submenu {
        display: none;
        /* Hide submenu initially on mobile */
        flex-direction: column;
        width: 100%;
        position: static;
        /* Remove absolute positioning */
    }

    .has-submenu.active .submenu {
        display: flex;
        /* Show submenu when the parent .nav-item is active */
    }
}

/*-----NAVBAR END-----*/


/*-----HEADER-----*/

.header {
    display: flex;
    flex-direction: column;
    background-image: url('https://github.com/javibeat/jess2.0/blob/main/assets/images/jess.jpg?raw=true');
    top: 0;
    left: 0;
    background-size: cover;
    background-position: center;
    height: 100vh;
    width: 100%;
    z-index: -5;
}

.centre {
    display: flex;
    justify-content: space-between;
    margin: auto;
    width: 1200px;
    /* background-color: var(--primary-color); */
}

.left {
    background-color: var(--background-color);
    max-width: 400px;
    width: 100%;
    height: auto;
    display: flex;
    flex-direction: column;
    margin: 20px;
    padding: 20px;
    justify-content: center;
    border-radius: 10px;
    box-sizing: border-box;
}

.right {
    background-color: var(--background-color);
    max-width: 400px;
    width: 100%;
    height: auto;
    display: flex;
    flex-direction: column;
    margin: 30px;
    padding: 35px;
    align-items: center;
    justify-content: center;
    border-radius: 10px;
    box-sizing: border-box;
}

.left2 {
    background-color: var(--background-color);
    max-width: 400px;
    width: 100%;
    height: auto;
    display: flex;
    flex-direction: column;
    margin: 30px;
    padding: 35px;
    align-items: start;
    border-radius: 10px;
    box-sizing: border-box;
}

.right2 {
    background-color: var(--background-color);
    max-width: 400px;
    width: 100%;
    height: auto;
    display: flex;
    flex-direction: column;
    margin: 30px;
    padding: 35px;
    border-radius: 10px;
    box-sizing: border-box;
    text-align: justify;
}

.left3 {
    display: flex;
    flex-direction: column;
    border-radius: 10px;
    box-sizing: border-box;
}

.right3 {
    display: flex;
    flex-direction: column;
    padding: 35px;
    border-radius: 10px;
    box-sizing: border-box;
    text-align: justify;
}

.left4,
.right4 {
    flex: 1;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 10px;
}

.left4 {
    order: 1;
}

.right4 {
    display: flex;
    flex-direction: column;
    align-items: start;
    order: 2;
    padding: 30px;
    border-radius: 20px;
    box-sizing: border-box;
}

.index {
    text-align: center;
    font-weight: 500;
    margin-bottom: 20px;
}

.mainsection {
    display: flex;
    flex-direction: column;
    align-items: center;
    background: url('https://github.com/javibeat/jess2.0/blob/main/assets/images/jess.jpg?raw=true') center center / cover no-repeat;
    height: 400px;
}

@media (max-width: 768px) {
    .mainsection {
        display: flex;
        align-items: center;
        justify-content: center;
    }

    .left {
        max-width: auto;
    }

    .centre {
        display: flex;
        flex-direction: column;
        justify-content: center;
        width: 100%;
        padding: 20px;
        width: auto;
    }

    .right3 {
        padding: 35px 0 0 0;
    }
}

@media (max-width: 844px) {

    .header {
        display: flex;
        flex-direction: column;
        align-items: center;
        height: auto;
    }

}

@media (max-width: 926px) {

    .header {
        display: flex;
        flex-direction: column;
        align-items: center;
        height: auto;
    }

}

/*-----HEADER END-----*/

/*------EXTRAS / ESPACIOS / LÍNEAS / BOTONES---------*/

h1 {
    font-weight: 400;
    margin-bottom: 25px;
    font-size: 25px;
}

.title {
    display: flex;
    margin-top: 75px;
    font-size: 80px;
    font-weight: 300;
}

h2 {
    font-weight: 500;
    margin-bottom: 25px;
    text-align: center;
}

.br {
    margin-bottom: 15px;
}

.linea {
    position: relative;
    padding-bottom: 15px;
    margin-bottom: 50px;
}

.linea::after {
    content: '';
    display: block;
    margin: 0 auto;
    height: 2px;
    width: 100px;
    background-color: #333;
    position: absolute;
    bottom: 0;
    left: 0;
    right: 0;
}

.boton1 {
    background-color: #ff2c2c;
    width: auto;
    height: auto;
    padding: 15px;
    margin-top: 10px;
    border-radius: 10px;
    font-size: 18px;
    text-align: center;
    transition: box-shadow 0.3s ease, transform 0.3s ease;
    box-shadow: 0px 4px 6px rgba(0, 0, 0, 0.2);
}

.boton1:hover {
    box-shadow: 0px 6px 8px rgba(0, 0, 0, 0.3);
    /* Sombra más prominente al hacer hover */
    transform: translateY(-2px);
    /* Efecto de 'levantar' el botón */
}

.boton1:active {
    box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.2);
    /* Sombra más sutil al hacer click */
    transform: translateY(0);
    /* El botón vuelve a su posición inicial al hacer click */
}

.botonC {
    display: flex;
    justify-content: center;
    margin: auto;
}

.boton2 {
    background-color: #ad814b;
    margin-top: 35px;
    display: inline-block;
    /* Ajusta el ancho al del contenido y permite el uso de padding */
    padding: 15px;
    border-radius: 10px;
    font-size: 18px;
    text-align: center;
    transition: box-shadow 0.3s ease, transform 0.3s ease;
    box-shadow: 0px 4px 6px rgba(0, 0, 0, 0.2);
}

.boton2:hover {
    box-shadow: 0px 6px 8px rgba(0, 0, 0, 0.3);
    /* Sombra más prominente al hacer hover */
    transform: translateY(-2px);
    /* Efecto de 'levantar' el botón */
}

.boton2:active {
    box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.2);
    /* Sombra más sutil al hacer click */
    transform: translateY(0);
    /* El botón vuelve a su posición inicial al hacer click */
}

.pic {
    width: 100%;
}

.bx {
    display: flex;
    justify-content: center;
    align-items: center;
    color: white;
    background: #ad814b;
    width: 40px;
    height: 40px;
    font-size: 20px;
    border-radius: 35px;
    cursor: pointer;
}

.social {
    display: flex;
    justify-content: center;
}

.social i {
    margin: 5px;
}

.mail {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-bottom: 20px;
}

.mail a {
    color: black;
}

@media (max-width: 768px) {
    .title {
        font-size: 50px;
        margin: auto;
        text-align: center;
    }

    .title2 {
        font-size: 20px;
        margin: 0 50px;
    }
}

/*------END EXTRAS / ESPACIOS / LÍNEAS / BOTONES---------*/


/*-------SECTIONS--------*/

.section {
    padding: 100px 20px 100px 20px;
    z-index: -10;
    background-image: url('https://github.com/javibeat/jess2.0/blob/ca87e7f4708a4b84e23245cd3e2f344c5bd59acd/assets/images/parallax.png');
    /* Asegúrate de tener la ruta correcta a tu imagen */
    background-attachment: fixed;
    /* Esto es crucial para el efecto parallax */
    background-position: center;
    /* Centra la imagen en el elemento */
    background-repeat: no-repeat;
    /* Evita que la imagen se repita */
    background-size: cover;
}

.section1 {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin: auto;
    padding: 100px 40px 100px 40px;
    background-color: var(--background-color2);
}

.section2 {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin: auto;
    padding: 100px 40px 100px 40px;
    background-image: url('https://github.com/javibeat/jess2.0/blob/ca87e7f4708a4b84e23245cd3e2f344c5bd59acd/assets/images/parallax.png');
    /* Asegúrate de tener la ruta correcta a tu imagen */
    background-attachment: fixed;
    /* Esto es crucial para el efecto parallax */
    background-position: center;
    /* Centra la imagen en el elemento */
    background-repeat: no-repeat;
    /* Evita que la imagen se repita */
    background-size: cover;
}

.subSection {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin: auto;
}

.text {
    max-width: 1000px;
}

.centre2 {
    display: flex;
    flex-direction: row;
    justify-content: center;
    margin: auto;
    background-color: var(--primary-color);
    border-radius: 10px;
    width: 1000px;
}

.centre3 {
    display: flex;
    align-items: center;
    justify-content: center;
    margin: auto;
    width: 1000px;
}

.centre4 {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    max-width: 1000px;
    margin: auto;
}

@media (max-width: 768px) {

    .text {
        text-align: justify;
    }

    .right {
        text-align: justify;
    }

    .centre2 {
        display: flex;
        flex-direction: column;
        justify-items: center;
        background-color: #ad814b;
        border-radius: 10px;
        width: auto;
    }

    .centre3 {
        display: flex;
        flex-direction: column;
        justify-content: center;
        width: auto;
    }

    .centre4 {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        text-align: justify;
    }

    .centre {
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        margin: auto;
    }

    .left4 {
        margin: 0;
        padding: 0;
    }

    .right4 {
        padding: 35px 0 0 0;
    }
}

@media (max-width: 844px) {

    .text {
        font-size: 14px;
    }

    .centre3 {
        width: auto;
    }

}

@media (max-width: 926px) {

    .text {
        font-size: 14px;
    }

    .centre3 {
        width: auto;
    }

}

/*-------SECTIONS END--------*/

/*-----CARDS------*/

.cards-container {
    display: flex;
    justify-content: center;
    /* Centra las tarjetas horizontalmente */
    flex-wrap: wrap;
    /* Permite que las tarjetas se ajusten en filas en pantallas más pequeñas */
    gap: 10px;
    /* Espacio entre tarjetas */
    max-width: 1200px;
}

.cards-container2 {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    gap: 5px;
    max-width: 1200px;
    margin: auto;
}

.card {
    flex-basis: 30%;
    max-width: 280px;
    min-width: 280px;
    text-align: center;
    padding: 20px;
    border: 1px solid #ddd;
    border-radius: 10px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    margin: 10px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background: var(--background-color);
}

.card2 {
    flex-basis: 30%;
    width: 100px;
    min-width: 280px;
    text-align: center;
    padding: 20px;
    border: 1px solid #ddd;
    border-radius: 10px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    margin: 10px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background: var(--background-color);
}

.h3card {
    margin-bottom: 15px;
}

.separador {
    border-bottom: 2px solid #333;
    margin-top: 20px;
}

.texto {
    margin: 25px;
    /* text-align: justify; */
}

button {
    margin-bottom: 15px;
    padding: 10px 20px;
    border: none;
    background-color: #ad814b;
    color: white;
    border-radius: 5px;
    cursor: pointer;
    font-size: 15px;
    transition: box-shadow 0.3s ease, transform 0.3s ease;
    /* Transición suave para sombra y transformación */
    box-shadow: 0px 4px 6px rgba(0, 0, 0, 0.2);
    /* Sombra inicial */
}

button:hover {
    box-shadow: 0px 6px 8px rgba(0, 0, 0, 0.3);
    /* Sombra más prominente al hacer hover */
    transform: translateY(-2px);
    /* Efecto de 'levantar' el botón */
}

button:active {
    box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.2);
    /* Sombra más sutil al hacer click */
    transform: translateY(0);
    /* El botón vuelve a su posición inicial al hacer click */
}

@media (max-width: 768px) {
    .card {
        max-width: 100%;
        margin: auto;
        text-align: justify;
    }

    .cards-container {
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
    }

    .cards-container2 {
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
    }

    .card2 {
        max-width: 100%;
        margin: auto;
        text-align: justify;
    }

    .card1 {
        margin-bottom: 40px;
    }
}

/*-----END CARDS----*/

/* --------ACCORDEÓN--------- */

.accordion-container {
    max-width: 600px;
    margin: 25px auto;
}

.accordion {
    width: 600px;
    border: 1px solid #000;
    border-radius: 10px;
    margin-bottom: 10px;
    /* Espacio entre acordeones */
}

.accordion-header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 20px;
    cursor: pointer;
}

.accordion-content {
    text-align: justify;
    background-color: var(--background-color);
    border-bottom-left-radius: 10px;
    border-bottom-right-radius: 10px;
    display: none;
    padding: 20px;
}

.arrow-icon {
    transition: transform 0.3s ease;
}

.accordion.active .accordion-content {
    display: block;
}

.accordion.active .arrow-icon {
    transform: rotate(180deg);
}

@media (max-width: 768px) {
    .accordion {
        width: auto;
    }

    .accordion-container {
        width: 100%;
        /* O el porcentaje que prefieras */
    }

    .accordion-header span,
    .accordion-content p {
        font-size: 16px;
        /* Ajusta el tamaño del texto para dispositivos móviles si es necesario */
    }

}

/*-----END ACORDEON--------*/

/*------STATS--------*/

.stats-container {
    display: flex;
    justify-content: space-around;
    align-items: center;
    width: 100%;
    max-width: 1000px;
    /* o el ancho máximo que prefieras */
    margin-bottom: 40px;
}

.stat {
    text-align: center;
    max-width: 200px;
}

.number {
    font-size: 3em;
    /* o el tamaño que prefieras */
    font-weight: 500;
    color: #ff2c2c;
}

.label {
    font-size: 16px;
    /* o el tamaño que prefieras */
    margin-top: 0.5em;
}

@media (max-width: 600px) {
    .stats-container {
        display: flex;
        flex-direction: column;
    }

    .stat {
        margin: 30px;
    }
}

/*------END STATS--------*/

/*-----BLOG------*/

.posts-container {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    gap: 10px;
}

.post-card {
    flex-basis: 30%;
    max-width: 280px;
    min-width: 280px;
    text-align: justify;
    padding: 20px;
    border: 2px solid #ddd;
    border-radius: 10px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    margin: 10px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    background-color: var(--primary-color);
}

.post-title {
    color: var(--background-color);
}

.post-content {
    display: flex;
    flex-direction: column;
    max-width: 1000px;
}

.title-post {
    display: flex;
    justify-content: center;
    font-size: 24px;
    font-weight: bold;
}

.post-date {
    margin-bottom: 15px;
}

.post-content img {
    max-width: 100%;
    height: auto;
}

.content {
    margin-bottom: 25px;
}

.post-navigation {
    display: flex;
    justify-content: space-between;
    margin-top: 15px;
}

.previous-post,
.next-post {
    padding: 10px;
    background-color: #f4f4f4;
    color: #333;
    text-decoration: none;
    border-radius: 5px;
}

.previous-post:hover,
.next-post:hover {
    background-color: #e9e9e9;
}

@media (max-width: 768px) {

    .posts-container {
        display: flex;
        flex-direction: column;
    }

    .category-menu {
        display: flex;
    }

    .category-button {
        font-size: 12px;
        margin: 5px;
    }

    .previous-post,
    .next-post {
        margin: 5px;
    }
}

/*----CALENDLY----*/

.calendly {
    z-index: -5;
}

/*--------------FOOTER---------------*/

footer {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    margin: auto;
    gap: 10px;
    box-shadow: #333;
    padding: 20px;
    background-color: var(--background-color);
    border-top: 1px solid #00000022;
}

footer img {
    width: 50px;
}

@media (max-width: 768px) {
    footer {
        display: flex;
        flex-direction: column;
        justify-content: center;
        padding: 10px;
    }
}

/*--------------FOOTER END---------------*/