<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{{ page.title }} | {{ site.title }}</title>
    <link href="https://fonts.googleapis.com/css2?family=Montserrat:wght@300;400;500;600;700;800&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="{{ '/assets/css/styles.css' | prepend: site.baseurl }}">
    <link rel="icon" type="image/png" href="{{ '/assets/images/dots.png' | prepend: site.baseurl }}">
    <link rel="canonical" href="{{ page.url | prepend: site.baseurl | replace: 'index.html', '' }}">
    <!-- Más metaetiquetas y enlaces aquí -->
</head>
<body>

    <header>
        {% include menu.html %}
    </header>

    {{ content }}

    <footer>
        <img src="assets/images/dots.png" alt="Footer Logo">
        <p>Jessica Morari | Expat & Career Coach</p>
        <p> &copy; 2023 All rights reserved.</p>
    </footer>

    <script src="{{ '/assets/js/script.js' | prepend: site.baseurl }}"></script>
</body>
</html>
