---
layout: default
title: POST
---

<!DOCTYPE html>
<html lang="en">

<head>
    <!-- Google tag (gtag.js) -->
    <script async src="https://www.googletagmanager.com/gtag/js?id=G-19TXSNYL76"></script>
    <script>
        window.dataLayer = window.dataLayer || [];
        function gtag() { dataLayer.push(arguments); }
        gtag('js', new Date());

        gtag('config', 'G-19TXSNYL76');
    </script>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <!-- Montserrat Font -->
    <link href="https://fonts.googleapis.com/css2?family=Montserrat:wght@300;400;500;600;700;800&display=swap"
        rel="stylesheet">
    <link rel="stylesheet" href="/assets/css/styles.css">

    <title>{{ page.title }}</title>

    <!-- Primary Meta Tags -->
    <meta name="title" content="Expat & Career Coach - From surviving to thriving abroad">
    <meta name="description"
        content="Helping expats to shape their experience living abroad, designing their best life and building a fulfilling career in a foreign country">
    <meta name="keywords" content="Expat coach, career coach, living abroad, coach in Dubai, Dubai, Coaching, Expat">

    <!-- Open Graph / Facebook -->
    <meta property="og:type" content="website">
    <meta property="og:url" content="jessicamorari.com">
    <meta property="og:title" content="Expat & Career Coach - From surviving to thriving abroad">
    <meta property="og:description"
        content="Helping expats to shape their experience living abroad, designing their best life and building a fulfilling career in a foreign country">
    <meta property="og:image" content="assets/images/logo.webp">

    <!-- Twitter -->
    <meta property="twitter:card" content="summary_large_image">
    <meta property="twitter:url" content="jessicamorari.com">
    <meta property="twitter:title" content="Expat & Career Coach - From surviving to thriving abroad">
    <meta property="twitter:description"
        content="Helping expats to shape their experience living abroad, designing their best life and building a fulfilling career in a foreign country">
    <meta property="twitter:image" content="assets/images/logo.webp">

    <!-- Favicon -->
    <link rel="icon" type="image/png" href="assets/images/dots.png">

    <!-- Canonical URL -->
    <link rel="canonical" href="jessicamorari.com">

    <!-- <meta name="robots" content="noindex, nofollow"> -->
</head>

<body>

    <section class="section1">
        <h1>{{ page.title }}</h1>
    </section>

    <section class="section2">

        <article class="post-content">

            <p class="post-date">{{ page.date | date: "%-d %B %Y" }}</p>

            <div class="content">
                {{ content }}
            </div>

            <div class="post-navigation">

                {% if page.next %}
                <a href="{{ page.next.url | prepend: site.baseurl }}" class="next-post">NEXT: {{ page.next.title }}</a>
                {% endif %}

                {% if page.previous %}
                <a href="{{ page.previous.url | prepend: site.baseurl }}" class="previous-post">PREV: {{
                    page.previous.title }}</a>
                {% endif %}

            </div>

        </article>

    </section>

    <script src="/assets/js/script.js"></script>

</body>

</html>