---
layout: default
title: POST
---

<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <!-- Montserrat Font -->
    <link href="https://fonts.googleapis.com/css2?family=Montserrat:wght@300;400;500;600;700;800&display=swap"
        rel="stylesheet">
    <link rel="stylesheet" href="{{ '/assets/css/styles.css' | prepend: site.baseurl }}">

    <title>{{ page.title }}</title>

    <!-- Primary Meta Tags -->
    <meta name="title" content="Expat & Career Coach - From surviving to thriving abroad">
    <meta name="description"
        content="Helping expats to shape their experience living abroad, designing their best life and building a fulfilling career in a foreign country">
    <meta name="keywords" content="Expat coach, career coach, living abroad, coach in Dubai, Dubai, Coaching, Expat">

    <!-- Open Graph / Facebook -->
    <meta property="og:type" content="website">
    <meta property="og:url" content="jessicamorari.com">
    <meta property="og:title" content="Expat & Career Coach - From surviving to thriving abroad">
    <meta property="og:description"
        content="Helping expats to shape their experience living abroad, designing their best life and building a fulfilling career in a foreign country">
    <meta property="og:image" content="assets/images/logo.webp">

    <!-- Twitter -->
    <meta property="twitter:card" content="summary_large_image">
    <meta property="twitter:url" content="jessicamorari.com">
    <meta property="twitter:title" content="Expat & Career Coach - From surviving to thriving abroad">
    <meta property="twitter:description"
        content="Helping expats to shape their experience living abroad, designing their best life and building a fulfilling career in a foreign country">
    <meta property="twitter:image" content="assets/images/logo.webp">

    <!-- Favicon -->
    <link rel="icon" type="image/png" href="assets/images/dots.png">

    <!-- Canonical URL -->
    <link rel="canonical" href="jessicamorari.com">

    <!-- <meta name="robots" content="noindex, nofollow"> -->
</head>

<body>

    <article class="post-content">
        <h1 class="title-post">{{ page.title }}</h1>
        <p class="post-date">{{ page.date | date: "%-d %B %Y" }}</p>
        {{ content }}
    </article>    

    <script src="{{ '/assets/js/script.js' | prepend: site.baseurl }}"></script>

</body>

</html>